# Binaries
**/bin/
bin-int/

# Files
*.user
Makefile
PhysiXal.config
PhysiXal.creator
PhysiXal.files
PhysiXal.includes
*.code-workspace
.vscode/c_cpp_properties.json
.vscode/settings.json
.hidden

# PhysiXal files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Directories
nbproject
