# Binaries
**/bin/
bin-int/
Intermediates/

# PhysiXal files
*.log
startup.json
shutdown.json
runtime.json
imgui.ini

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Directories
engine/vendor/VulkanSDK
scripts/__pycache__